<style>
    .monochromatic {
        -webkit- filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }

    .sepia {
        -webkit-filter: sepia(100%);
        filter: sepia(100%);
    }

    .saturate {
        -webkit-filter: saturate(5);
        filter: saturate(5);
    }

    .invert {
        -webkit-filter: invert(80%);
        filter: invert(80%);
    }

    .filterSelectionArrows {
        margin-top: 20%;
    }

        .filterSelectionArrows:hover {
            -webkit-filter: brightness(1.2);
            filter: brightness(1.2);
        }
</style>
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <div id="gallery">
        <header class="masthead mb-auto" style="margin-bottom: 0px !important;">
            <div class="inner">
                <nav class="navbar justify-content-between ">
                    <a href='@Url.Action("MainPage", "Home",new{Id=@Model.User.Id})'>
                        <span class="masthead-brand" style="font-size: 30px;"><img src="/Images/camera.png" style="width: 40px; height: 40px; margin-right:15px;" />Gallery</span>
                    </a>
                    <a href='@Url.Action("Community", "Home", new {Id = @Model.User.Id})'>
                        <span class="mastheah-brand" style="font-size: 30px;"><img src="~/Images/community.png" style="width: 40px; height: 40px; margin-left: 10px; margin-right:15px;" />Community</span>
                    </a>
                    <a href='@Url.Action("Add", "Pictures", new {Id = @Model.User.Id})'>
                        <span class="mastheah-brand" style="font-size: 30px;"><img src="/Images/add.png" style="width: 40px; height: 40px; margin-left: 10px; margin-right:15px;" />Add Picture</span>
                    </a>
                    <div class="dropdown" style="padding:5px;">
                        <span class="mastheah-brand dropdown-toggle" data-toggle="dropdown" id="userMenu" style="font-size:large; color:#ddd; cursor:pointer;" onmouseover="this.style.color = '#fff'" onmouseout="this.style.color = '#ddd'">
                            @if (Model.User.ProfilePhoto == null)
                            {
                                <img src="~/Images/male.png" style="width: 40px; height: 40px; margin-left: 10px;margin-right:5px;border-radius:35px; object-fit:cover;" />
                            }
                            else
                            {
                                <img src="@Model.User.ProfilePhoto" style="width: 50px; height: 50px; margin-left: 10px;margin-right:5px;border-radius:35px; object-fit:cover;" />

                            }
                            @Model.User.UserName


                        </span>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="userMenu" style="background-color:#333;padding:20px;">
                            <li role="presentation" style="margin-bottom:10px">
                                <a href='@Url.Action("Edit", "Users",new{Id=@Model.User.Id})' class="btn btn-danger" style="width:100%;">
                                    Edit Profile
                                </a>
                            </li>
                            <hr style="border:1px solid #E54657; margin-top: 2px;">
                            <li role="presentation">
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="submit" class="btn btn-danger" value="LogOff" style="width:100%;" />
                                }
                            </li>
                        </ul>
                    </div>
                </nav>
                <hr style="border:1px solid #E54657; margin-top: 2px;">
            </div>
        </header>
        <div class="container text-center">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding:0;margin:auto;">
                <div class="picContainer" style="display:inline-block;position:relative; width:80%; margin-bottom:10px;">
                    <div style="position:absolute; background-color:rgba(0,0,0,0.65); color:white;bottom:20px;height:25%;width:100%; padding:20px 20px 0px 20px; display:block;">
                        <span id="filterName" style="font-size:xx-large;">Normal</span>
                    </div>
                    <img id="showcase" class="picture" src="@Model.Picture.Path" style="margin-bottom: 20px; width:100%;height:300px; object-fit:cover;">
                </div>
            </div>
            <img class="picture filter" src="@Model.Picture.Path" style="margin-bottom: 20px; width:15%; height:100px;object-fit:cover;margin-right:10px;">
            <img class="picture filter monochromatic" src="@Model.Picture.Path" style="margin-bottom: 10px; width:15%; height:100px;object-fit:cover;margin-right:10px;">
            <img class="picture filter sepia" src="@Model.Picture.Path" style="margin-bottom: 20px; width:15%; height:100px;object-fit:cover;margin-right:10px;">
            <img class="picture filter saturate" src="@Model.Picture.Path" style="margin-bottom: 20px; width:15%; height:100px;object-fit:cover;margin-right:10px;">
            <img class="picture filter invert" src="@Model.Picture.Path" style="margin-bottom: 20px; width:15%; height:100px;object-fit:cover;">

            @using (Html.BeginForm("Edit", "Pictures", new { UserId = @Model.User.Id, Id = @Model.Picture.Id }, FormMethod.Post, new { id = "imageForm" }))
            {
                <input type="hidden" name="imageData" id="imageData" />
                <input type="submit" class="btn btn-success" value="Save Changes" />
            }
        </div>
    </div>
</div>
<script>
    $(".dropdown").hover(
        function (event) {
            $('.dropdown-menu').css('display', 'block');
            $(this).css('backgroundColor', 'rgba(0,0,0,0.2)');
            $('.dropdown-menu').css('backgroundColor', 'rgba(0,0,0,0.2)');
        },
        function (event) {
            $('.dropdown-menu').css('display', 'none');
            $(this).css('backgroundColor', 'rgba(0,0,0,0)');
            $('.dropdown-menu').css('backgroundColor', 'rgba(0,0,0,0)');
        }
    );
    $('.picture.filter').click(function () {
        $('#showcase').removeClass();
        $('#showcase').addClass("picture");
        if ($(this).hasClass("monochromatic")) {
            $('#showcase').addClass("monochromatic");
            $('#filterName').text("Monochromatic");
        }
        else if ($(this).hasClass("sepia")) {
            $('#showcase').addClass("sepia");
            $('#filterName').text("Sepia");
        }
        else if ($(this).hasClass("saturate")) {
            $('#showcase').addClass("saturate");
            $('#filterName').text("Saturate");
        }
        else if ($(this).hasClass("invert")) {
            $('#showcase').addClass("invert");
            $('#filterName').text("Invert");
        }
    });
</script>