@{
    int i = 0;
    foreach (var picture in @Model.Pictures)
    {
        List<int> ImageSizes = new List<int>();
        switch (i)
        {
            case 1:
            case 5:
                ImageSizes = new List<int> { 7, 7, 7, 12 };
                break;

            case 2:
            case 4:
                ImageSizes = new List<int> { 3, 3, 3, 12 };
                break;
            case 3:
                ImageSizes = new List<int> { 5, 5, 5, 12 };
                break;

            case 0:
            case 6:
                ImageSizes = new List<int> { 4, 4, 4, 12 };
                break;
        }
        string bGrid = "col-lg-" + ImageSizes[0] + " col-md-" + ImageSizes[1] + " col-sm-" + ImageSizes[2] + " col-xs-" + ImageSizes[3];
        <div class=@bGrid style="padding:0; display:inline-block;margin:0px 10px 10px 0px;">
            @if (picture.User == Model.User)
            {

                <div class="picContainer" style="display:inline-block;position:relative; width:100%;cursor:pointer;">
                    <div class="picBanner" style="position:absolute; background-color:rgba(0,0,0,0.5); color:white; right:0;bottom:0;height:100%;width:100%; padding:20px;display:none;">
                        <span style="font-size:x-large;">@picture.Description</span>
                        <br />
                        @if (picture.User != Model.User)
                        {
                            <a href="@Url.Action("Like","Pictures",new { UserId = Model.User.Id,PictureId = picture.Id })" class="popoverLikes">
                                @{
                                    if (Model.User.LikedPictures.Contains(picture))
                                    {
                                        <span class="popoverLikes">
                                            <img src="~/Images/thumbsUp.png" class="picBannerLikesImg" />
                                        </span>
                                    }
                                    else
                                    {
                                        <span style="float:left;">
                                            <img src="~/Images/thumbsUp.png" style="opacity:0.6;" class="picBannerLikesImg" />
                                        </span>
                                    }
                                }
                            </a>
                        }
                        else
                        {
                            <span class="popoverLikes">
                                <img src="~/Images/thumbsUp.png" class="picBannerLikesImg" />
                            </span>

                        }

                        <span style="float:left;">
                            @picture.Likes
                        </span>

                        <span class="picBannerUploadDate">@picture.UploadDate.Day/@picture.UploadDate.Month/@picture.UploadDate.Year</span>
                        @if (picture.User == Model.User)
                        {
                            <span><img src="~/Images/user.png" style="width:30px; height:30px;margin-top:5px;" /></span>
                        }
                        else
                        {
                            if (picture.User.ProfilePhoto == null || String.IsNullOrWhiteSpace(picture.User.ProfilePhoto))
                            {
                                <a href='@Url.Action("ViewOtherUserProfile", "Home",new{UserId=Model.User.Id,ViewedUserId=picture.User.Id})'>
                                    <span><img src="~/Images/male.png" style="width:40px; height:40px;margin-top:5px;border-radius:35px; object-fit:cover;" /></span>
                                    <span style="font-size:large;">@picture.User.UserName</span>

                                </a>
                            }

                            else
                            {
                                <a href='@Url.Action("ViewOtherUserProfile", "Home",new{UserId=Model.User.Id,ViewedUserId=picture.User.Id})'>
                                    <span><img src="@picture.User.ProfilePhoto" style="width:40px; height:40px;margin-top:5px;border-radius:35px; object-fit:cover;" /></span>
                                    <span style="font-size:large;">@picture.User.UserName</span>

                                </a>
                            }
                        }
                        <br />
                        <div class="popup picBannerLikesPopover">
                            @{

                                foreach (var user in picture.UsersThatLiked)
                                {
                                    <p>@user.UserName</p>
                                }
                            }
                        </div>
                        <div class="picBannerTagContainer">
                            @{
                                Random r = new Random();
                                foreach (var tag in picture.TagsList)
                                {
                                    int n = r.Next(0, 4);
                                    switch (n)
                                    {
                                        case 0:
                                            <div class="tagShowcase" style="background-color:#243;border:2px solid #465;">@tag.Name</div>
                                            break;
                                        case 1:
                                            <div class="tagShowcase" style="background-color:#a32;border:2px solid #c54;">@tag.Name</div>
                                            break;
                                        case 2:
                                            <div class="tagShowcase" style="background-color:#349;border:2px solid #56b;">@tag.Name</div>
                                            break;
                                        case 3:
                                            <div class="tagShowcase" style="background-color:#b82;border:2px solid #da4;">@tag.Name</div>
                                            break;
                                    }
                                }
                            }
                        </div>
                        <input type="button" class="btn btn-default" style="position:absolute;left:0;bottom:0;width:100%;height:60%;outline:none;background-color:rgba(0,0,0,0)" name="back" onclick="@("location.href='"+ Url.Action("View", "Pictures",new { PictureId = picture.Id })+ "'")" />
                    </div>
                    <img class="picture" src="@picture.Path">
                </div>
            }
            else
            {
                <div class="picContainer">
                    <div class="picBanner">
                        <span class="picBannerDescription">@picture.Description</span>
                        <br />
                        @if (picture.User != Model.User)
                        {
                            <a href="@Url.Action("Like","Pictures",new { UserId = Model.User.Id,PictureId = picture.Id })" class="popoverLikes">
                                @{
                                    if (Model.User.LikedPictures.Contains(picture))
                                    {
                                        <span class="popoverLikes">
                                            <img src="~/Images/thumbsUp.png" class="picBannerLikesImg" />
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="popoverLikes">
                                            <img src="~/Images/thumbsUp.png" style="opacity:0.6;" class="picBannerLikesImg" />
                                        </span>
                                    }
                                }
                            </a>
                        }
                        else
                        {
                            <span class="popoverLikes">
                                <img src="~/Images/thumbsUp.png" class="picBannerLikesImg" />
                            </span>

                        }

                        <span style="float:left;">
                            @picture.Likes
                        </span>

                        <span class="picBannerUploadDate">@picture.UploadDate.Day/@picture.UploadDate.Month/@picture.UploadDate.Year</span>
                        @if (picture.User == Model.User)
                        {
                            <span><img src="~/Images/user.png" style="width:30px; height:30px;margin-top:5px;" /></span>
                        }
                        else
                        {
                            <a href='@Url.Action("ViewOtherUserProfile", "Home",new{UserId=Model.User.Id,ViewedUserId=picture.User.Id})'>
                                <span><img src="@picture.User.ProfilePhoto" style="width:40px; height:40px;margin-top:5px;border-radius:35px; object-fit:cover;" /></span>
                                <span style="font-size:large;">@picture.User.UserName</span>
                            </a>
                        }
                        <br />
                        <div style="float:left; background-color:rgba(0,0,0,0.6); display:none;" class="popup">
                            @{

                                foreach (var user in picture.UsersThatLiked)
                                {
                                    <p>@user.UserName</p>
                                }
                            }
                        </div>
                        <div class="picBannerTagContainer">
                            @{
                                Random r = new Random();
                                foreach (var tag in picture.TagsList)
                                {
                                    int n = r.Next(0, 4);
                                    switch (n)
                                    {
                                        case 0:
                                            <div class="tagShowcase" style="background-color:#243;border:2px solid #465;">@tag.Name</div>
                                            break;
                                        case 1:
                                            <div class="tagShowcase" style="background-color:#a32;border:2px solid #c54;">@tag.Name</div>
                                            break;
                                        case 2:
                                            <div class="tagShowcase" style="background-color:#349;border:2px solid #56b;">@tag.Name</div>
                                            break;
                                        case 3:
                                            <div class="tagShowcase" style="background-color:#b82;border:2px solid #da4;">@tag.Name</div>
                                            break;
                                    }
                                }
                            }
                        </div>
                        <input type="button" class="btn btn-default" style="position:absolute;left:0;bottom:0;width:100%;height:60%;outline:none;background-color:rgba(0,0,0,0)" name="back" onclick="@("location.href='"+ Url.Action("ViewOtherUserPicture", "Home",new { UserId = Model.User.Id, ViewedPictureId = picture.Id })+ "'")" />
                    </div>
                    <img class="picture" src="@picture.Path">
                </div>
            }
        </div>
        i++;
        if (i > 6)
        {
            i = 0;
        }
    }
    <h1 style="margin: auto;"></h1>
}
