<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <div id="gallery">
        <header class="masthead mb-auto" style="margin-bottom: 0px !important;">
            <div class="inner">
                <nav class="navbar justify-content-between ">
                    <a href='@Url.Action("MainPage", "Home", new { Id = @Model.Id })'>
                        <span class="masthead-brand" style="font-size: 30px;"><img src="/Images/camera.png" style="width: 40px; height: 40px; margin-right:15px;" />Gallery</span>
                    </a>
                    <a href='@Url.Action("Community", "Home", new { Id = @Model.Id })'>
                        <span class="mastheah-brand" style="font-size: 30px;"><img src="~/Images/community.png" style="width: 40px; height: 40px; margin-left: 10px; margin-right:15px;" />Community</span>
                    </a>
                    <a href='@Url.Action("AddPicture", "Home", new { Id = @Model.Id })'>
                        <span class="mastheah-brand" style="font-size: 30px;"><img src="/Images/add.png" style="width: 40px; height: 40px; margin-left: 10px; margin-right:15px;" />Add Picture</span>
                    </a>
                    <div class="dropdown" style="padding:5px;border-radius:15px;">
                        <span class="mastheah-brand dropdown-toggle" data-toggle="dropdown" id="userMenu" style="font-size:large; color:#ddd; cursor:pointer;" onmouseover="this.style.color = '#fff'" onmouseout="this.style.color = '#ddd'">
                            @if (Model.ProfilePhoto == null)
                            {
                                <img src="~/Images/male.png" style="width: 40px; height: 40px; margin-left: 10px;margin-right:5px;border-radius:35px; object-fit:cover;" />
                            }
                            else
                            {
                                <img src="@Model.ProfilePhoto" style="width: 50px; height: 50px; margin-left: 10px;margin-right:5px;border-radius:35px; object-fit:cover;" />

                            }
                            @Model.UserName


                        </span>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="userMenu" style="background-color:#333;padding:20px; border-radius:20px;">
                            <li role="presentation" style="margin-bottom:10px">
                                <a href='@Url.Action("EditProfile", "Home", new { Id = @Model.Id })' class="btn btn-danger" style="width:100%;">
                                    Profile
                                </a>
                            </li>
                            <hr style="border:1px solid #E54657; margin-top: 2px;">
                            <li role="presentation">
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="submit" class="btn btn-danger" value="LogOff" style="width:100%;" />
                                }
                            </li>
                        </ul>
                    </div>
                </nav>
                <hr style="border:1px solid #E54657; margin-top: 2px;">
            </div>
        </header>
        <div class="container text-center">
            <div id="containerLeft" style="float:left;">
                <div class="picContainer" style="display:inline-block;position:relative; width:50%; margin-bottom:10px;float:left;">
                    <div style="position:absolute; background-color:rgba(0,0,0,0.65); color:white;bottom:0;height:70px;width:400px; padding:20px 20px 0px 20px; display:block;">
                        <span style="font-size:xx-large;">@Model.UserName</span>
                    </div>
                    <p align="left" style="margin-bottom:0px;">

                        @if (Model.ProfilePhoto == null)
                        {
                            <img src="~/Images/male.png" style="width: 400px; height: 350px; object-fit: cover;" id="imageShowcase" />
                        }
                        else
                        {
                            <img src="@Model.ProfilePhoto" style="width: 400px; height: 350px; object-fit: cover;" id="imageShowcase" />
                        }
                    </p>
                </div>
                <button id="preRemovalButton" type="button" class="btn btn-danger" style="position: absolute; left: 50%; top: 95%; width:50%;">Delete Profile</button>

                @using (Html.BeginForm("EditProfile", "Home", new { Id = @Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <p align="left">
                        <input type="file" name="file" id="imageFile" onchange="readfile(this);" style="margin-bottom: 10px; margin-right: 15px;" accept="image/*" />
                        <br />
                        <input type="submit" class="btn btn-success" value="Save Changes" />
                    </p>
                }
            </div>
            <p style="font-size:xx-large;background-color:#222;">Information</p>
            <p style="margin-bottom:0px;">
                <span style="font-size:x-large;">
                    Pictures Uploaded
                </span>
                <br />
                <br />

                @{
                    int count = 0;
                    foreach (var pic in Model.PicturesList)
                    {
                        <img src="@pic.Path" width="55px" height="35px" style="object-fit:cover;" />
                        count++;
                        if (count > 10)
                        {
                            break;
                        }
                    }
                    <span>(@Model.PicturesList.Count)</span>
                }
                <br />
                <br />
                <span style="font-size:x-large;">
                    Pictures Shared With The Community
                </span>
                <br />
                <br />

                @{
                    int publicPics = 0;
                    count = 0;
                    foreach (var pic in Model.PicturesList)
                    {
                        if (pic.Visibility)
                        {
                            if (count <= 10)
                            {
                                <img src="@pic.Path" width="55px" height="35px" style="object-fit:cover;" />
                            }
                            publicPics++;
                            count++;
                        }
                    }
                    <span>(@publicPics)</span>
                }
                <br />
                <br />
                <span style="font-size:x-large;">Likes Given: @Model.LikedPictures.Count</span>
                <br />
                <span style="font-size:x-large;">
                    Likes Received:
                    @{
                        int likesReceived = 0;
                        foreach (var pic in Model.PicturesList)
                        {
                            likesReceived += pic.Likes;
                        }
                        @likesReceived
                    }
                </span>
            </p>
        </div>
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="background-color:rgba(50,50,50,0.95);border:3px solid #D43546;">
                    <div class="modal-body" style="margin-top:10px;">
                        <p style="font-size:large">Do you really want to delete your profile?</p>
                        <p style="font-size:large">You will lose everything</p>
                    </div>
                    <div class="modal-footer">
                        @using (Html.BeginForm("DeleteProfile", "Home", new { Id = @Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" class="btn btn-danger" value="Remove" />
                        }
                        <button type="button" class="btn btn-default cancelRemoval">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".dropdown").hover(
        function (event) {
            $('.dropdown-menu').css('display', 'block');
            $(this).css('backgroundColor', 'rgba(0,0,0,0.2)');
            $('.dropdown-menu').css('backgroundColor', 'rgba(0,0,0,0.2)');
        },
        function (event) {
            $('.dropdown-menu').css('display', 'none');
            $(this).css('backgroundColor', 'rgba(0,0,0,0)');
            $('.dropdown-menu').css('backgroundColor', 'rgba(0,0,0,0)');
        }
    );
    $('#preRemovalButton').click(function () {
        $('.modal').show();
    });
    $('.cancelRemoval').click(function () {
        $('.modal').hide();
    });
</script>