@model Photicon.Models.Users
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <div id="gallery">
        @Html.Partial("_MainNavbar", Model)
        <div class="container text-center">
            <div id="pictures" style="display:none;">
                <div class="row">
                    @{
                        int i = 0;
                        foreach (var picture in @Model.PicturesList)
                        {
                            List<int> ImageSizes = new List<int>();
                            switch (i)
                            {
                                case 1:
                                case 5:
                                    ImageSizes = new List<int> { 7, 7, 7, 12 };
                                    break;

                                case 2:
                                case 4:
                                    ImageSizes = new List<int> { 3, 3, 3, 12 };
                                    break;
                                case 3:
                                    ImageSizes = new List<int> { 5, 5, 5, 12 };
                                    break;

                                case 0:
                                case 6:
                                    ImageSizes = new List<int> { 4, 4, 4, 12 };
                                    break;
                            }
                            string bGrid = "col-lg-" + ImageSizes[0] + " col-md-" + ImageSizes[1] + " col-sm-" + ImageSizes[2] + " col-xs-" + ImageSizes[3];
                            <div class=@bGrid style="padding:0; display:inline-block;margin:0px 10px 10px 0px;">

                                <a href="@Url.Action("View","Pictures",new { PictureId = picture.Id})">
                                    <div class="picContainer">
                                        <div class="picBanner">
                                            @if (picture.Visibility == false)
                                            {
                                                <img class="picBannerPrivateImg" src="~/Images/lock.png" />
                                                <br />
                                            }
                                            <span class="picBannerDescription">@picture.Description</span>
                                            <br />
                                            <span class="popoverLikes"><img class="picBannerLikesImg" src="~/Images/thumbsUp.png" />@picture.Likes</span>
                                            <span class="picBannerUploadDate">@picture.UploadDate.Day/@picture.UploadDate.Month/@picture.UploadDate.Year</span>
                                            <br />
                                            <div class="popup picBannerLikesPopover">
                                                @{

                                                    foreach (var user in picture.UsersThatLiked)
                                                    {
                                                        <p>@user.UserName</p>
                                                    }
                                                }
                                            </div>
                                            <div class="picBannerTagContainer">
                                                @{
                                                    Random r = new Random();
                                                    foreach (var tag in picture.TagsList)
                                                    {
                                                        int n = r.Next(0, 4);
                                                        switch (n)
                                                        {
                                                            case 0:
                                                                <div class="tagShowcase" style="background-color:#243;border:2px solid #465;">@tag.Name</div>
                                                                break;
                                                            case 1:
                                                                <div class="tagShowcase" style="background-color:#a32;border:2px solid #c54;">@tag.Name</div>
                                                                break;
                                                            case 2:
                                                                <div class="tagShowcase" style="background-color:#349;border:2px solid #56b;">@tag.Name</div>
                                                                break;
                                                            case 3:
                                                                <div class="tagShowcase" style="background-color:#b82;border:2px solid #da4;">@tag.Name</div>
                                                                break;
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <img class="picture" src="@picture.Path">
                                    </div>
                                </a>
                            </div>
                            i++;
                            if (i > 6)
                            {
                                i = 0;
                            }

                        }
                        if (@Model.PicturesList.Count <= 0)
                        {
                            <h1 class="noPicturesText">No Pictures Yet!!!</h1>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".dropdown").hover(
        function (event) {
            $('.dropdown-menu').css('display', 'block');
            $(this).css('backgroundColor', 'rgba(0,0,0,0.2)');
            $('.dropdown-menu').css('backgroundColor', 'rgba(0,0,0,0.2)');
        },
        function (event) {
            $('.dropdown-menu').css('display', 'none');
            $(this).css('backgroundColor', 'rgba(0,0,0,0)');
            $('.dropdown-menu').css('backgroundColor', 'rgba(0,0,0,0)');
        }
    );
    $(".popoverLikes").hover(
        function (event) {
            $(this).siblings('.popup').css('display', 'block');
        },
        function (event) {
            $(this).siblings('.popup').css('display', 'none');
        }
    );
    $(document).ready(function () {
        $('#pictures').fadeIn(1500);
    });
</script>

