@model Photicon.Models.CommunityPicturesViewModels
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <div id="gallery">
        @Html.Partial("_MainNavbar",Model.User)
        <div class="container text-center">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding:0">
                <span id="PictureDescriptionText" style="font-size:xx-large;float:left;margin-bottom:10px;">@Model.ViewedPicture.Description</span>
                <div class="picContainer" style="display:inline-block;position:relative; width:100%; margin-bottom:10px;float:left;">
                    <div style="position:absolute; background-color:rgba(0,0,0,0.65); color:white;bottom:0;height:70px;width:100%; padding:20px 20px 0px 20px; display:block;">
                        <span style="float:left;"><img src="~/Images/thumbsUp.png" style="width:30px; height:30px; margin-right:10px;" />@Model.ViewedPicture.Likes</span>
                        <span style="font-size:large; float:right;">@Model.ViewedPicture.UploadDate.Day/@Model.ViewedPicture.UploadDate.Month/@Model.ViewedPicture.UploadDate.Year</span>
                        <div id="tagContainer" style="margin:auto;width:50%;">
                            @{
                                Random r = new Random();
                                foreach (var tag in Model.ViewedPicture.TagsList)
                                {
                                    int n = r.Next(0, 4);
                                    switch (n)
                                    {
                                        case 0:
                                            <div class="tagShowcase" style="width:30%;background-color:#243;border:2px solid #465;border-radius:20px;overflow:hidden;display:inline-block;">@tag.Name</div>
                                            break;
                                        case 1:
                                            <div class="tagShowcase" style="width:30%;background-color:#a32;border:2px solid #c54;border-radius:20px;overflow:hidden;display:inline-block;">@tag.Name</div>
                                            break;
                                        case 2:
                                            <div class="tagShowcase" style="width:30%;background-color:#349;border:2px solid #56b;border-radius:20px;overflow:hidden;display:inline-block;">@tag.Name</div>
                                            break;
                                        case 3:
                                            <div class="tagShowcase" style="width:30%;background-color:#b82;border:2px solid #da4;border-radius:20px;overflow:hidden;display:inline-block;">@tag.Name</div>
                                            break;
                                    }
                                }
                            }
                        </div>
                    </div>
                    <p align="left" style="margin-bottom:0px;">
                        <img src="@Model.ViewedPicture.Path" style="width: 100%; height: 350px; object-fit: cover;" id="imageShowcase">
                    </p>
                    <div id="commentsBoxContainer" style="width:100%; background-color:#2c2c2c;position:absolute;margin-top:4px;border:2px solid #D43546;padding:20px;">
                        @foreach (var comment in Model.ViewedPicture.CommentsList)
                        {
                            <p style="text-align:left;font-size:16px;border-radius:30px;background-color:#3a3a3a;">
                                <img src="@comment.User.ProfilePhoto" style="width: 40px; height: 40px;border-radius:35px; object-fit:cover;margin-right:10px;" />
                                <b style="margin-right:8px;">@comment.User.UserName</b>
                                <span style="font-size:16px;">@comment.Comment</span>
                                <br />
                            </p>
                        }
                        @using (Html.BeginForm("Add", "Comments", new { UserId = Model.User.Id, PictureId = Model.ViewedPicture.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <p style="text-align:left;font-size:16px;border-radius:30px;background-color:#5a5a5a;">
                                <img src="@Model.User.ProfilePhoto" style="width: 40px; height: 40px;border-radius:35px; object-fit:cover;margin-right:10px;" />
                                <input id="commentInput" type="text" name="Comment" placeholder="Write a comment..." style="border-radius:20px;border:0px;background-color:#5a5a5a;width:85%;outline:none;color:#ffffff;font-size:16px;" />
                                <input id="submitComment" type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" tabindex="-1" />
                            </p>
                        }
                    </div>
                </div>
                @using (Html.BeginForm("DownloadPicture", "Home", new { PicturePath = @Model.ViewedPicture.Path }))
                {
                @Html.AntiForgeryToken()
                <input type="submit" class="btn btn-warning" value="Download" style="width:100%; margin-bottom:10px; font-size:large;" />
                }
                <br />
                <br />
            </div>
        </div>

    </div>
</div>
<script>
    $(".dropdown").hover(
        function (event) {
            $('.dropdown-menu').css('display', 'block');
            $(this).css('backgroundColor', 'rgba(0,0,0,0.2)');
            $('.dropdown-menu').css('backgroundColor', 'rgba(0,0,0,0.2)');
        },
        function (event) {
            $('.dropdown-menu').css('display', 'none');
            $(this).css('backgroundColor', 'rgba(0,0,0,0)');
            $('.dropdown-menu').css('backgroundColor', 'rgba(0,0,0,0)');
        }
    );
</script>