@model Photicon.Models.CommunityProfilesViewModels
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <div id="gallery">
        @Html.Partial("_MainNavbar", Model.User)
        <div class="container text-center">
            <div id="containerLeft" style="float:left;">
                <div class="picContainer" style="display:inline-block;position:relative; width:50%; margin-bottom:10px;float:left;">
                    <div style="position:absolute; background-color:rgba(0,0,0,0.65); color:white;bottom:0;height:70px;width:400px; padding:20px 20px 0px 20px; display:block;">
                        <span style="font-size:xx-large;">@Model.ViewedUser.UserName</span>
                    </div>
                    <p align="left" style="margin-bottom:0px;">

                        @if (Model.ViewedUser.ProfilePhoto == null)
                        {
                            <img src="~/Images/male.png" style="width: 400px; height: 350px; object-fit: cover;" id="imageShowcase" />
                        }
                        else
                        {
                            <img src="@Model.ViewedUser.ProfilePhoto" style="width: 400px; height: 350px; object-fit: cover;" id="imageShowcase" />
                        }
                    </p>
                </div>
            </div>
            <p style="font-size:xx-large;background-color:#222;">Information</p>
            <p style="margin-bottom:0px;">
                <span style="font-size:x-large;">
                    Pictures Shared With The Community
                </span>
                <br />
                <br />

                @{
                    int publicPics = 0;
                    int count = 0;
                    foreach (var pic in Model.ViewedUser.PicturesList)
                    {
                        if (pic.Visibility)
                        {
                            if (count <= 10)
                            {
                                <img src="@pic.Path" width="55px" height="35px" style="object-fit:cover;" />
                            }
                            publicPics++;
                            count++;
                        }
                    }
                    <span>(@publicPics)</span>
                }
                <br />
                <br />
                <span style="font-size:x-large;">Likes Given: @Model.ViewedUser.LikedPictures.Count</span>
                <br />
                <span style="font-size:x-large;">
                    Likes Received:
                    @{
                        int likesReceived = 0;
                        foreach (var pic in Model.ViewedUser.PicturesList)
                        {
                            likesReceived += pic.Likes;
                        }
                        @likesReceived
                    }
                </span>
            </p>
            @if (!Model.User.Friends.Contains(Model.ViewedUser))
            {
                if (Model.User.FriendRequestsSentPending.Contains(Model.ViewedUser))
                {
                    <input type="submit" class="btn btn-default" value="Request Pending" />
                }
                else
                {
                    using (Html.BeginForm("AddFriend", "Users", new { UserId = @Model.User.Id, ViewedUserId = @Model.ViewedUser.Id }, FormMethod.Post, new { id = "imageForm" }))
                    {
                        <input type="submit" class="btn btn-success" value="Add Friend" />
                    }
                }
            }
        </div>
    </div>
</div>
<script>
    $(".dropdown").hover(
        function (event) {
            $('.dropdown-menu').css('display', 'block');
            $(this).css('backgroundColor', 'rgba(0,0,0,0.2)');
            $('.dropdown-menu').css('backgroundColor', 'rgba(0,0,0,0.2)');
        },
        function (event) {
            $('.dropdown-menu').css('display', 'none');
            $(this).css('backgroundColor', 'rgba(0,0,0,0)');
            $('.dropdown-menu').css('backgroundColor', 'rgba(0,0,0,0)');
        }
    );
</script>