@model Photicon.Models.Users
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <div id="gallery">
        @Html.Partial("_MainNavbar", Model)
        <div class="container text-center">
            <div id="containerLeft" style="float:left;">
                <div class="picContainer" style="display:inline-block;position:relative; width:50%; margin-bottom:10px;float:left;">
                    <div style="position:absolute; background-color:rgba(0,0,0,0.65); color:white;bottom:0;height:70px;width:400px; padding:20px 20px 0px 20px; display:block;">
                        <span style="font-size:xx-large;">@Model.UserName</span>
                    </div>
                    <p align="left" style="margin-bottom:0px;">

                        @if (Model.ProfilePhoto == null)
                        {
                            <img src="~/Images/male.png" style="width: 400px; height: 350px; object-fit: cover;" id="imageShowcase" />
                        }
                        else
                        {
                            <img src="@Model.ProfilePhoto" style="width: 400px; height: 350px; object-fit: cover;" id="imageShowcase" />
                        }
                    </p>
                </div>


                @using (Html.BeginForm("Edit", "Users", new { Id = @Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <p align="left">
                        <input type="file" name="file" id="imageFile" onchange="readfile(this);" style="margin-bottom: 10px; margin-right: 15px;" accept="image/*" />
                        <br />
                        <input type="submit" class="btn btn-success" value="Save Changes" />
                    </p>
                }
            </div>

            <p style="font-size:xx-large;background-color:#222;">Information</p>
            <p style="margin-bottom:0px;">
                <span style="font-size:x-large;">
                    Pictures Uploaded
                </span>
                <br />
                <br />

                @{
                    int count = 0;
                    foreach (var pic in Model.PicturesList)
                    {
                        <img src="@pic.Path" width="55px" height="35px" style="object-fit:cover;" />
                        count++;
                        if (count > 10)
                        {
                            break;
                        }
                    }
                    <span>(@Model.PicturesList.Count)</span>
                }
                <br />
                <br />
                <span style="font-size:x-large;">
                    Pictures Shared With The Community
                </span>
                <br />
                <br />

                @{
                    int publicPics = 0;
                    count = 0;
                    foreach (var pic in Model.PicturesList)
                    {
                        if (pic.Visibility)
                        {
                            if (count <= 10)
                            {
                                <img src="@pic.Path" width="55px" height="35px" style="object-fit:cover;" />
                            }
                            publicPics++;
                            count++;
                        }
                    }
                    <span>(@publicPics)</span>
                }
                <br />
                <br />
                <span style="font-size:x-large;">Likes Given: @Model.LikedPictures.Count</span>
                <br />
                <span style="font-size:x-large;">
                    Likes Received:
                    @{
                        int likesReceived = 0;
                        foreach (var pic in Model.PicturesList)
                        {
                            likesReceived += pic.Likes;
                        }
                        @likesReceived
                    }
                </span>
            </p>
            <p align="left" style="text-align:left;">
                <button id="preRemovalButton" type="button" class="btn btn-danger">Delete Profile</button>
            </p>
            <h2>Friend</h2>
            @foreach (var friend in Model.Friends)
            {
                <p>
                    <img src="@friend.ProfilePhoto" style="width: 40px; height: 40px;border-radius:35px; object-fit:cover;margin-right:10px;" />
                    <span>@friend.UserName</span>
                </p>
            }
            <h2>Friends Request</h2>
            @foreach (var requestUser in Model.FriendRequestsReceivedPending)
            {
                <p>
                    <img src="@requestUser.ProfilePhoto" style="width: 40px; height: 40px;border-radius:35px; object-fit:cover;margin-right:10px;" />
                    <span>@requestUser.UserName</span>
                    <br />
                    @using (Html.BeginForm("AcceptFriendRequest", "Users", new { UserId = @Model.Id, RequestUserId = requestUser.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="submit" class="btn btn-success" value="Accept Request" />
                    }
                    @using (Html.BeginForm("RemoveFriendRequest", "Users", new { UserId = @Model.Id, RequestUserId = requestUser.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="submit" class="btn btn-danger" value="Remove Request" />
                    }
                </p>
            }
        </div>
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="background-color:rgba(50,50,50,0.95);border:3px solid #D43546;">
                    <div class="modal-body" style="margin-top:10px;">
                        <p style="font-size:large">Do you really want to delete your profile?</p>
                        <p style="font-size:large">You will lose everything</p>
                    </div>
                    <div class="modal-footer">
                        @using (Html.BeginForm("Delete", "Users", new { Id = @Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" class="btn btn-danger" value="Remove" />
                        }
                        <button type="button" class="btn btn-default cancelRemoval">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".dropdown").hover(
        function (event) {
            $('.dropdown-menu').css('display', 'block');
            $(this).css('backgroundColor', 'rgba(0,0,0,0.2)');
            $('.dropdown-menu').css('backgroundColor', 'rgba(0,0,0,0.2)');
        },
        function (event) {
            $('.dropdown-menu').css('display', 'none');
            $(this).css('backgroundColor', 'rgba(0,0,0,0)');
            $('.dropdown-menu').css('backgroundColor', 'rgba(0,0,0,0)');
        }
    );
    $('#preRemovalButton').click(function () {
        $('.modal').show();
    });
    $('.cancelRemoval').click(function () {
        $('.modal').hide();
    });
</script>